:root {
    --primary-color: #fff;
}

.page-title {
    color: var(--primary-color);
    text-align: center;
}

header a {
    color: var(--primary-color);
}

p {
    color: var(--primary-color);  
    text-align: center;
    line-height: 50px;
}
