:root {
    --primary-color: #fff;
}

.page-title {
    color: var(--primary-color);
    text-align: center;
}

body {
    width: 100%;
    margin: 0 auto;
    background-image: url("../images/ocean-background.jpg");
    background-size: cover;
}

header a {
    color: var(--primary-color);
}

p {
    color: var(--primary-color);  
    text-align: center;
    line-height: 50px;
}


